Django==5.2.14
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
django-environ==0.13.0
django-cors-headers==4.9.0
gunicorn==26.0.0
psycopg2-binary==2.9.12
redis==7.4.0
celery==5.6.3
httpx==0.28.1
cloudinary==1.44.2
